

.login-container {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.login-left-section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left-section img {
  width: 100%;
  height: auto;
}
.nav_btn {
  color: rgb(86, 86, 243);
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
}

.login-right-section {
  width: 20%;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.login-form {
  width: 100%;
}

.login-button-container {
  margin-top: 24px;
}
